spring:
  application:
    name: product

  graphql:
    graphiql:
      enabled: true
      path: /graphiql


  datasource:
    password: love
    username: postgres
    url: jdbc:postgresql://localhost:5432/postgres
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: create-drop

    properties:
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          format_sql: true
      database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

